:root {
  --main-color: red;
  --border-color: green;
}

body {
  background-color: palegoldenrod;
}

#log {
  display: table-cell;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: var(--main-color);
}

/* Stick */
#stick {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}

/* Throttle */
#throttle1,
#throttle2 {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}

/* Rudder */
#rudder {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}

/* Rotary */
#rotary {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}