:root {}

body {
  background-color: blue;
}

#log {
  display: table-cell;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 0, 0, 1);
}

/* Stick */
#stick {
  display: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 81, 0, 1);
}

/* Throttle */
#throttle-1,
#throttle-2 {
  display: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 81, 0, 1);
}

/* Rudder */
#rudder {
  display: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 81, 0, 1);
}