@charset "utf-8";
#Rudder{
	display: block;
	position: absolute;
}
#log{
	display: table-cell;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	color: rgba(255, 0, 0, 1);
}
#Rotary_var{
	width: 250px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(0, 81, 0, 1);
}
#Rotary_crosshair_var{
	width: 4px;
	background-color: rgba(0, 255, 0, 1);
}